Test
<hr/>

@DateTime.Now

<br/>
@if (DateTime.Now.Year == 2015)
{
    @:今年
}
else
{
    @:非今年
}

<br/>

@foreach (var item in ViewBag.num)
{
    @item
}


@foreach (var item in ViewBag.num)
{
    @(item+" ")
}


<ul>
    @foreach (var item in ViewBag.num)
    {
    <li>@item</li>
    }
</ul>
