@{
    var num = (int[])ViewBag.num;
}
@foreach (var item in num)
{
    @item
}


@foreach (var item in num)
{
    @(item + " ")
}


<ul>
    @foreach (var item in num)
    {
        <li>@item</li>
    }
</ul>

<br />
Test
<hr/>

@DateTime.Now

<br/>
@if (DateTime.Now.Year == 2015)
{
    @:今年
}
else
{
    @:非今年
}