@model MVC5Course.Models.Simple1ViewModels

@{
    ViewBag.Title = "Complex2";
}

<h2>Complex2</h2>


@using (Html.BeginForm())
{

    <h2>Item 1</h2>

    <h4>Simple1ViewModel</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2" for="item1.Username">Username</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Username 欄位是必要項。" id="item1.Username" name="item1.Username" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="item1.Username" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="item1.Password">Password</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Password 欄位是必要項。" id="item1.Password" name="item1.Password" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="item1.Password" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="item1.Age">Age</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-number="欄位 Age 必須是數字。" data-val-required="Age 欄位是必要項。" id="item1.Age" name="item1.Age" type="number" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="item1.Age" data-valmsg-replace="true"></span>
        </div>
    </div>

    <hr />

    <h2>Item 2</h2>


    <h4>Simple1ViewModel</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2" for="item2.Username">Username</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Username 欄位是必要項。" id="item2.Username" name="item2.Username" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="item2.Username" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="item2.Password">Password</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Password 欄位是必要項。" id="item2.Password" name="item2.Password" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="item2.Password" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="item2.Age">Age</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-number="欄位 Age 必須是數字。" data-val-required="Age 欄位是必要項。" id="item2.Age" name="item2.Age" type="number" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="item2.Age" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>







}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}