
@{
    ViewBag.Title = "TempData2";
}

<h2>TempData2</h2>

<hr/>

ViewBag.Message1 = @ViewBag.Message1
<br/><br />
ViewBag.Message2 = @ViewBag.Message2
<br /><br />
ViewBag.Message3 = @ViewBag.Message3